* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.text-center {
  text-align: center;
}

html {
  font-size: 62.5%;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
}

.inner {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10rem;
}

table {
  border: 2px solid #000;
  border-collapse: collapse;
  font-size: 1.6rem;
}

h4 {
  margin: 0;
}

table thead tr th span {
  flex-grow: 1;
}

table th,
table td {
  border: 2px solid #000;
  padding: 0.6rem 1rem;
}
